In [1]:
import numpy as np
import pandas as pd
#multilevel index

In [2]:
from numpy.random import randn

In [3]:
# index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [5]:
df

             A         B
G1 1 -0.832890  0.168627
   2 -2.242225  0.980634
   3 -0.675634  0.906896
G2 1  2.039608  1.035776
   2  1.545768  0.421078
   3 -0.128388 -0.426599

In [6]:
df.loc['G1'].loc[1]

A   -0.832890
B    0.168627
Name: 1, dtype: float64

In [7]:
df.iloc[0]

A   -0.832890
B    0.168627
Name: (G1, 1), dtype: float64

In [8]:
df.index.names = 'Groups', "num"
df.index.names

FrozenList(['Groups', 'num'])

In [9]:
df.loc['G2'].loc[3]['B']

-0.426599180007033

In [10]:
df.xs('G1')

            A         B
num
1   -0.832890  0.168627
2   -2.242225  0.980634
3   -0.675634  0.906896

In [11]:
df.xs(1,level='num') #to acces inner elements of multiindexed dataframes
                     # 1 to grab num=1 and then specify the level=num

               A         B
Groups
G1     -0.832890  0.168627
G2      2.039608  1.035776